
block content
  h1= title
  - let easterBasketid = toShow._id
  - let easterBasketcolor = toShow.color
  - let easterBasketcost = toShow.cost
  - let easterBasketfull = toShow.full
  div.row(class='mb-2')
    div.mr-1 ID is
    div #{easterBasketid}
    - let actionid = "/resource/easterBasket/" + easterBasketid
  form(id='CostumeForm', action= actionid, method="PUT")
    div.form-group
      label.easterBasketAttr(for='easterBasketcolor') Easter basket color
      input#easterBasketcolor(type='text', name='color', value= easterBasketolor )
    div.form-group
      label.easterBasketAttr(for='easterBasketfull') Is the Easter basket full ?
      input#easterBasketfull(type='text', name='full', value= easterBasketfull )
    div.form-group
      label.easterBasketAttr(for='easterBasketcost') Easter basket cost
      input#easterBasketcost(type='number', name='cost', value= easterBasketcost )
    input(type="submit")

  script.
    document.forms['CostumeForm'].addEventListener('submit', (event) => {
      event.preventDefault();
      // TODO do something here to show user that form is being submitted
      fetch(event.target.action, {
        method: 'PUT',
        body: new URLSearchParams(new FormData(event.target)) // event.target is the form
      }).then((resp) => {
        return resp.text(); // or resp.text() or whatever the server sends
      }).then((body) => {
        alert("Update succeeded");
        // TODO handle body
      }).catch((error) => {
        // TODO handle error
        alert("Update failed " + error);
      });
    });