extends layout

block content
  h1= title
 

  -  var easterBasket = {color: 'blue', full: 'true', cost: '20'}
  -  var easterBasket = {color: 'pink', full: 'false', cost: '10'}
  -  var easterBasket = {color: 'green', full: 'true', cost: '25'}